*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
   
}
body{
    background-color: #222;
    
}
.home{
    background: url(../../assets/weather-background-531756.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 100vh;
    font-weight: bold;
    padding-top: 0.5%;
  
}
.card{
    width: 100%;
    max-width: 1870px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    columns: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
}
.details{
    

    padding: 0 20px;
   
   
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 15px;
    float: left;
    width: 10%;
}
.details:after{
    content: "";
    display: table;
    clear: both;
}
.airpollution img{
    width: 50px;
}
td{
    border-color: black;
}
.title{
    padding-top: 1%;
    font-weight: bolder;
    padding-right: 10%;
}
.btn1 {
    background-color: #04AA6D; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: flex;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      float: left;
    }
    .nav-link{
        padding-top: 1%;
        padding-left: 1%;
    }

    .btn1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
      tbody:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}