<div class="main-home">
  <ul>
    <li><a class="active" href="home">Home</a></li>
    <li><a href="news">News</a></li>
    <li><a href="contact">Contact</a></li>
    <li style="float: right"><a href="about">About</a></li>
  </ul>
  <h1>Weather Forecasting Application</h1>
  <div>
    <a href="Signup" class="nav-link" routerLinkActive="active">
      <button class="btnsignup">Sign Up</button>
    </a>
    <a href="login" class="nav-link" routerLinkActive="active">
      <button class="btnlogin">Login</button>
    </a>
  </div>
</div>
