<div class="home">
  <h1>Weather Forecasting Application</h1>
  <div>
    <a href="weather" class="nav-link" routerLinkActive="active">
      <button class="btn1">Check Today's Weather</button>
    </a>
  </div>
  <div>
    <a href="forecast" class="nav-link" routerLinkActive="active">
      <button class="btn2">Check Five Day Forecast</button>
    </a>
  </div>
  <div>
    <a href="airpollution" class="nav-link" routerLinkActive="active">
      <button class="btn2">Check Air Pollution Data</button>
    </a>
  </div>
</div>
